footer {
    position: absolute;
    width: 100%;
    bottom: -10;
    padding: 3rem 0;
    text-align: center;
    font-size: 3rem;
    margin-top: 7rem;
}

footer a{
    color: #4a2c2a;
}

.footer_logo {
    color: #4a2c2a;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-flex;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin: 0 auto 3rem;
}

.footer__socials {
    color: #4a2c2a;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 2rem;
}

.footer__socials a {

    padding: 0.8rem;
    border-radius: 0.7rem;
    
    border: 1px solid transparent;
}

.footer__socials a:hover {
    background: transparent;
    color: #ece0d1;
    border-color: #4a2c2a;
}

.footer__copyright {
    margin-bottom: 4rem;
    color: #4a2c2a;
}

